.profile-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    margin-top: 15px;
    // background-color: #393c46;
    background-color: #393c46;
}

.profile-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    vertical-align: middle;
    line-height: 20px;
    padding-top: 5px;
    justify-content: space-around;
    // background-color: #3e3e3e;
    margin-bottom: 4px;
}

.profile-item-header {
    color: white;
    padding-left: 12px;
    font-size: 20px;
    color: #e4e7ea;
}

.font-header {
    font-size: 24px;

}


.profile-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    width: 100%;
}

.profile-item {
    margin-bottom: 20px;
    width: 100%;
}

.input-disabled {
    display: block;
    width: 100%;
    height: calc(2.0625rem + 2px);
    padding: .375rem .75rem;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0px;
    color: #e4e7ea;
    background-color: #515b65;
    background-clip: padding-box;
    border: 1px solid #23282c;
    // border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}