<div class="main-div">
  <div class="info-card">
    <div class="profile-info">

      <div class="profile-item">
        <div class="profile-item-header font-header">User profile</div>
      </div>

      <div class="profile-item">
        <div class="profile-item-header">Email</div>
        <div class="profile-item-body">
          <input class="input-disabled" [(ngModel)]="Email" name="input-USD" disabled
              required>
        </div>
      </div>

      <div class="profile-item">
        <div class="profile-item-header">User name</div>
        <div class="profile-item-body">
          <input class="input-disabled" [(ngModel)]="UserName" name="input-USD" disabled
              required>
        </div>
      </div>

      <div class="profile-item">
        <div class="profile-item-header">Balance</div>
        <div class="profile-item-body"> 
          <input class="input-disabled" [(ngModel)]="Balance" name="input-USD" disabled
              required>
        </div>
      </div>

    </div>
</div>

