PociagDoZyskow.QuotationsReader/obj/Debug/netcoreapp2.2/PociagDoZyskow.QuotationsReader.csprojAssemblyReference.cache
PociagDoZyskow.QuotationsReader/obj/Debug/netcoreapp2.2/PociagDoZyskow.QuotationsReader.assets.cache
PociagDoZyskow.QuotationsReader/obj/Debug/netcoreapp2.2/PociagDoZyskow.QuotationsReader.AssemblyInfoInputs.cache
PociagDoZyskow.QuotationsReader/obj/Debug/netcoreapp2.2/PociagDoZyskow.QuotationsReader.AssemblyInfo.cs
PociagDoZyskow.DataAccess/obj/Debug/netstandard2.0/PociagDoZyskow.DataAccess.csprojAssemblyReference.cache
PociagDoZyskow.DataAccess/obj/Debug/netstandard2.0/PociagDoZyskow.DataAccess.assets.cache
PociagDoZyskow.DataAccess/obj/Debug/netstandard2.0/PociagDoZyskow.DataAccess.AssemblyInfoInputs.cache
PociagDoZyskow.DataAccess/obj/Debug/netstandard2.0/PociagDoZyskow.DataAccess.AssemblyInfo.cs
PociagDoZyskow.Algorithms/obj/project.assets.json
PociagDoZyskow.Algorithms/obj/PociagDoZyskow.Algorithms.csproj.nuget.g.targets
PociagDoZyskow.Algorithms/obj/PociagDoZyskow.Algorithms.csproj.nuget.g.props
PociagDoZyskow.Algorithms/obj/PociagDoZyskow.Algorithms.csproj.nuget.cache
PociagDoZyskow.Algorithms/obj/Debug/netcoreapp2.2/PociagDoZyskow.Algorithms.csprojAssemblyReference.cache
PociagDoZyskow.Algorithms/obj/Debug/netcoreapp2.2/PociagDoZyskow.Algorithms.csproj.FileListAbsolute.txt
PociagDoZyskow.Algorithms/obj/Debug/netcoreapp2.2/PociagDoZyskow.Algorithms.csproj.CoreCompileInputs.cache
PociagDoZyskow.Algorithms/obj/Debug/netcoreapp2.2/PociagDoZyskow.Algorithms.assets.cache
PociagDoZyskow.Algorithms/obj/Debug/netcoreapp2.2/PociagDoZyskow.Algorithms.AssemblyInfoInputs.cache
PociagDoZyskow.Algorithms/obj/Debug/netcoreapp2.2/PociagDoZyskow.Algorithms.AssemblyInfo.cs
