<div class="yp-footer">
  <div class="footer-container">
    <div class="links-containers">
        <a class="footer-button" routerLink="/about" i18n="@@footer-about">About us</a>
        <a class="footer-button" routerLink="/terms" i18n="@@footer-terms">Terms and conditions</a>
    </div>
    <div class="social-container">
        <a target="_blank" href="https://twitter.com/youplaybet">
            <img class="brand-btn" src="assets/svg/brand/twitter.svg">
        </a>
        <a target="_blank" href="https://www.twitch.tv/youplay_master">
            <img class="brand-btn"  src="assets/svg/brand/twitch.svg">
        </a>
        <a target="_blank" href="https://www.facebook.com/youplaybet">
            <img class="brand-btn"  src="assets/svg/brand/facebook.svg">
        </a>
        <img class="ssl-cert" src="{{SslCertUrl}}">
    </div>

    <p class="font-mini">
      © 2018 YouPlay. All rights reserved. youplay.bet <br>
    </p>
  </div>
</div>

