.text {
  display: flex;
  width: 100%;
}

.group {
  display: flex;
  width: 100%;
}

.input-material {
    width: 100%;
  }

  textarea:focus, input:focus{
    outline: none;
    border:none;
  }

  label {
    margin-left: 15px;
    font-size: 18px;
    line-height: 18px;
    color: black;
  }



.bar 	{ position:relative; display:block; width:100%; }
//------------------------------------------------------------------------------------------------

