<div class="main-div">
        <div class="info-card">

            <div class="about-title" i18n="@@about-overview-title">
                Overview
            </div>
            <div class="content font" i18n="@@about-overview-content">
                <p class="subtitle">
                    YouPlay.bet is platform that host tournaments for classic games.<br>
                    We have tournaments with money entry as well as free to join with prizes.
                    We want create community that appriciate old school games.
                    Join our discord to be up to date with tournaments. 
                    <a class="link" target="_blank" href="https://discord.gg/NUZGY5w">https://discord.gg/NUZGY5w</a>
                </p>
            </div>

        </div>


        <div class="info-card">
            <div class="about-title" i18n="@@about-contribute-title">
                Contribute
            </div>
            <div class="content font">
                <p class="subtitle" i18n="@@about-contribute-content">
                    If you want to organize your tournaments, feel free to do so.
                    You can ask us to add any game, we will consider every request. <br>
                    If you like contribute to prizes, this is our BTC address: 32YdknZ6hitHttoYhU5dHvL8hrFeyQSfQE
                </p>
            </div>
        </div>

        <div class="info-card">
            <div class="about-title" i18n="@@about-contact-title">
                Contact us
            </div>
            <div class="content font">
                <p class="subtitle">
                    Email: support@youplay.bet<br>
                    Discord: <a class="link" target="_blank" href="https://discord.gg/NUZGY5w">https://discord.gg/NUZGY5w</a><br>
                    Phone: +48 518405188
                </p>
            </div>
        </div>
</div>