.notification-container {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    align-items: flex-end;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: transparent;
}

.notification-box {
    display: flex;
    flex-direction: column;
    // width: 100%;
    margin: 1px;
    background-color: transparent;
}