<div class="main-div">

    <div class="content-div">
        
        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-title">
                Terms Of Service
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-acceptance-title">
                1. ACCEPTANCE OF TERMS text hardcoded in html
            </div>
            <div class="content font">
                <div class="subtitle" i18n="@@terms-acceptance-text">
                    <b>1.1 Overview</b><br>
                    The following terms of service govern all use by General Users (as defined below), non-Tournament Organizers (as defined below), or 
                    visitors of (a) the youplay.bet websites, domains, and applications (including all webpages, subdomains and subparts therein 
                    contained, mobile applications, collectively, the "Site"), (b) any and all services available on or through the Site or otherwise 
                    provided by youplay.bet, and (c) all Software (as defined below) (collectively, the "Services"). The Services are owned and operated 
                    by youplay.bet (“The Company”). The Services are offered subject to your acceptance without modification of all of the terms and 
                    conditions contained herein and all other operating rules, policies and procedures that may be published from time to time on the 
                    Site by The Company. If you object to anything in these terms of service or the Privacy Policy, you are not permitted to use the 
                    Services. By using or accessing any part of the Services, you acknowledge that (a) you are at least 13 years of age, (b) you have 
                    not been previously banned, blocked, or suspended from the Services, and (c) you have read, understood, and agree to be bound by 
                    these terms of service.
                    <br><br>
                    THESE TERMS OF SERVICE INCLUDE (A) AN ARBITRATION PROVISION FOR USERS LOCATED IN THE UNITED STATES; (B) A WAIVER OF RIGHTS TO BRING 
                    A CLASS ACTION AGAINST THE COMPANY FOR USERS LOCATED IN THE UNITED STATES; (C) CERTAIN DISCLAIMERS OF WARRANTIES ON BEHALF OF THE 
                    COMPANY; (D) CERTAIN LIMITATIONS OF LIABILITY FOR THE BENEFIT OF THE COMPANY; AND (E) A RELEASE BY YOU OF ALL CLAIMS FOR DAMAGE 
                    AGAINST THE COMPANY ARISING OUT OF DISPUTES BETWEEN YOU AND THIRD PARTIES IN CONNECTION WITH YOUR USE OF THE SERVICES. BY USING ANY 
                    OF THE SERVICES, YOU AGREE TO THESE PROVISIONS. 
                    <br><br>
                    <b>1.2 Modification</b><br>
                    The Company reserves the right, at its sole discretion, to modify or replace any of the terms or conditions of these Terms of Service 
                    (or any of the agreements that make up these Terms of Service) at any time (collectively, “Modifications”). Modifications to these 
                    Terms of Service will be posted to the youplay.bet website with a change to the "Updated” date at the top of these Terms of Service. 
                    In certain circumstances The Company may provide you with additional notice of such Modifications, via email or with in-Service 
                    notifications. Modifications will be effective thirty (30) days following the "Updated” date or such other date as communicated in 
                    any other notice to you, except that changes addressing new functions of the Services or which do not impose any additional burdens 
                    or obligations on you will be effective immediately. It is your responsibility to check these Terms of Service periodically for 
                    Modifications. Your continued use of the Services following the effectiveness of any Modifications to these Terms of Service 
                    constitutes acceptance of those Modifications as well. If any Modification to these Terms of Service is not acceptable to you, you 
                    must cease accessing, browsing and otherwise using the Services. Other than as set forth in this paragraph, these Terms of Service 
                    may only be modified through a written agreement, signed by you and an authorized officer of The Company.
                    <br><br>
                    <b>1.3 Language</b><br>
                    The Company may translate these terms of service, Privacy Policy or any other operating rules, policies and procedures that may be 
                    published from time to time on the Site into other languages for your convenience. The English language version of each of these 
                    documents is the version that governs your use of the Services and in the event of any conflict between the English language version 
                    and a translated version, the English language version will control.
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-use-title">
                2. YOUR USE OF THE SERVICES
            </div>
            <div class="content font">
                <div class="subtitle" i18n="@@terms-use-text">
                    <b>2.1 The Services</b> <br>
                    The Company hereby grants you a non-exclusive, non-transferable, non-sublicensable right to access and use the Services solely for the 
                    purposes of browsing the Site, and searching for, viewing, registering for, and interacting with, an event that is registered on the 
                    Site, in each case (i) in compliance with these terms of service, and (ii) to the extent permitted under all applicable laws and 
                    regulations (foreign and domestic). Notwithstanding the foregoing, you shall not, and shall not permit anyone else to, directly or 
                    indirectly: (i) modify, reproduce or otherwise create derivatives of any part of the Services or Site Content (as defined below); 
                    (ii) reverse engineer, disassemble, decompile or otherwise attempt to discover the source code or structure, sequence and organization 
                    of all or any part of the Services (except that this restriction shall not apply to the limited extent restrictions on reverse 
                    engineering are prohibited by applicable local law); (iii) rent, lease, resell, distribute or use the Services for timesharing, 
                    service bureau, or commercial purposes; (iv) remove or alter any proprietary notices or labels on or in the Services or Site Content; 
                    (v) engage in any activity that interferes with or disrupts the Services; or (vi) engage in any fraudulent activity or activity that 
                    facilitates fraud.
                    <br><br>
                    <b>2.2 Software</b><br>
                    If you are allowed to download or use any Software in connection with the Services, The Company hereby grants you a personal, 
                    non-transferable, non-sublicensable, revocable, non-exclusive license to use the Software solely for your internal use in 
                    connection with the Services, and only in accordance with these terms of service and the written instructions/directions (if any) 
                    provided by The Company in conjunction with the Software. For purposes of these terms of service, "Software" shall mean any and all 
                    software that is available on or through the Site or otherwise provided by The Company, including without limitation The Company’s 
                    mobile applications. For clarity, the Software will be deemed a part of the "Services" hereunder.
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@venue-title">
                3. VENUE
            </div>
            <div class="content font">
                <div class="subtitle" i18n="@@venue-text">
                    The Services are a platform for enabling connections between General Users and Tournament Organizers, but The Company is not 
                    responsible for the performance of Tournament Organizers, nor does it have control over the quality, timing, legality, failure 
                    to provide, or any other aspect whatsoever of the services they provide, nor of the integrity, responsibility or any of the 
                    actions or omissions whatsoever of any Tournament Organizers. When interacting with other General Users and Tournament Organizers, 
                    you should exercise caution and common sense to protect your personal safety and property, just as you would when interacting with 
                    other persons whom you don’t know. The Company is not responsible for the conduct or performance, whether online or offline, of any 
                    user of the Services.
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-payment-title">
                4. PAYMENT
            </div>
            <div class="content font">
                <div class="subtitle" i18n="@@terms-payment-text">
                    <b>4.1 Independent Relationship of Payment Services</b><br> The Company provides a platform by which payments can be 
                    used to join events present on the Site. These payments are transacted through online payment services such as Stripe, Paypal, 
                    or other third party payment services. Payments may also be arranged directly with Tournament Organizers. 
                    Tournament Organizers and General Users sending payments affect the applicable monetary payment transaction through 
                    the payment service, and are bound by the applicable terms of use governing the payment service.
                    <b>4.2 Disputes and Refunds</b><br> If you are a General User and you wish to request a refund or initiate a dispute regarding payment 
                    in connection with an event listed on the Site, you should contact the applicable Tournament Organizer directly. It is the 
                    responsibility of a Tournament Organizer to communicate its refund policy to General Users sending payments and to issue 
                    refunds as required via the Site, payment service, or otherwise. If a General User desires to request a refund, they must 
                    request the refund from the Tournament Organizer. All communications or disputes regarding refunds are between the Tournament 
                    Organizer and General User initiating payment and The Company will not be responsible or liable in any way for refunds, errors 
                    in issuing refunds, or lack of refunds in connection with the Services. All communications and disputes regarding chargebacks 
                    and refunds are between the Tournament Organizer and General User initiating payment and The Company will not be responsible or 
                    liable in any way for chargebacks in connection with a General User’s use of the Services.
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-privacy-title">
                5. PRIVACY POLICY & DATA CONSENT
            </div>
            <div class="content font">
                <div class="subtitle" i18n="@@terms-privacy-text">
                    Your privacy is important to The Company. Please see our Privacy Policy for information relating to how we collect, 
                    use, and disclose your personal information. The Company does not control and shall not be responsible for the acts 
                    of you or any other users (whether Tournament Organizers, General Users, visitors, or otherwise) of the Services.
                    All data we store is avaliable in your Profile page. 
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-obligations-title">
                6. YOUR SIGN-UP OBLIGATIONS
            </div>
            <div class="content font">
                <div class="subtitle" i18n="@@terms-obligations-text">
                    To sign-up as a registered user of the Services, whether as a Tournament Organizer, General User, or other, you agree to: 
                    (a) provide true, accurate, current and complete information about yourself as prompted by the Site registration form 
                    (the "Registration Data") and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and 
                    complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or The Company has 
                    reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, The Company has the 
                    right to suspend or terminate all of your accounts and refuse any and all of your current or future use of the Services 
                    (or any portion thereof).
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-accsecurity-title">
                7. ACCOUNT, PASSWORD, AND SECURITY
            </div>
            <div class="content font">
                <div class="subtitle" i18n="@@terms-accsecurity-text">
                    As part of the Site registration process, you will provide a login email address and create a password, 
                    which together form an account. You are responsible for maintaining the confidentiality of the password, 
                    and are fully responsible for all activities that occur under your account, including, without limitation, 
                    all actions by sub-users registered under your account. You agree to (a) immediately notify The Company of any 
                    unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit 
                    from your account at the end of each session. The Company cannot and will not be liable for any loss, 
                    damage or other liability arising from your failure to comply with this Section or from any unauthorized 
                    access to or use of your account. In the event of any dispute between two or more parties as to account 
                    ownership, you agree that The Company shall be the sole arbiter of such dispute in its sole discretion 
                    and that The Company’s decision (which may include termination or suspension of any account subject to dispute) 
                    shall be final and binding on all parties.
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-content-title">
                8. CONTENT
            </div>
            <div class="content font">
                <div class="subtitle" i18n="@@terms-content-text">
                    <b>8.1 Site Content</b><br> You agree that all material, including without limitation information, data, software, text, design 
                    elements, graphics, images and other content (collectively, "Content"), contained in or delivered via the Services or otherwise 
                    made available by The Company in connection with the Services (collectively, "Site Content") is protected by copyrights, 
                    trademarks, service marks, trade secrets or other intellectual property and other proprietary rights and laws. The Company may 
                    own the Site Content or portions of the Site Content may be made available to The Company through arrangements with third parties. 
                    Except as expressly authorized by The Company in writing or in connection with your use of the intended functionality of the 
                    Services, you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, 
                    publish, adapt, edit or create derivative works of any Site Content, or post any Site Content on any other web site or in a 
                    networked computer environment for any purpose. Reproducing, copying or distributing any Site Content for any other purpose 
                    is strictly prohibited without the express prior written permission of The Company. You shall use the Site Content only for 
                    purposes that are permitted by these terms of service and any applicable laws and regulations (foreign and domestic). 
                    Any rights not expressly granted herein are reserved.
                    <br><br>
                    <b>8.2 Your Content.</b><br> You acknowledge and agree that if you contribute, provide, or make available any content to the 
                    Site ("Your Content"), you hereby grant to The Company a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, 
                    transferable, sublicensable (through multiple tiers) right and license to use, reproduce, adapt, modify, distribute, translate, 
                    publish, create derivative works based on, perform, display, and otherwise exploit Your Content, in whole or in part, 
                    in any media now known or hereafter developed, for any purpose whatsoever. You represent and warrant that you have all the rights, 
                    power and authority necessary to grant the foregoing license, and that all Your Content (i) does not infringe, violate, 
                    misappropriate or otherwise conflict with the rights of any third party, and (ii) complies with all applicable laws and regulations 
                    (foreign and domestic). In addition, Your Content must be accurate and truthful. The Company reserves the right to remove any of 
                    Your Content from the Site at any time if The Company believes in its sole discretion that it does not comply with these terms of 
                    service. In addition, you agree that The Company may use your name, Gamertag (if provided) and logo (whether or not you have made 
                    it available through the Site) for the purpose of identifying you as an existing or past user of The Company both on the Site and 
                    in marketing and promotional materials.
                    <br><br>
                    <b>8.3 Streaming Content</b><br> The Company provides a platform by which live and pre-recorded videos of video game related 
                    activities can be streamed or otherwise broadcasted to viewers. These broadcasts are transacted through online streaming services 
                    such as Twitch, YouTube, or other third party streaming services. Tournament Organizers and General Users broadcast content through 
                    these streaming services, and are bound by the applicable terms of use governing these streaming services.
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-disclaimer-title">
                9. DISCLAIMER OF WARRANTIES
            </div>
            <div class="content font">
                <div class="subtitle" i18n="@@terms-disclaimer-text">      
                    The Services are provided “as is” without warranties of any kind, either expressed or implied, including, but not limited to, 
                    the implied warranties of merchantability and fitness for a particular purpose, and non-infringement. The entire risk as to 
                    the quality and performance of the Services is with you. The Company does not represent or warrant that content or 
                    materials provided through the Services are accurate, complete, reliable, current, or error-free. The Company is not 
                    responsible for typographical errors or omissions relating to text, video, or photography. The Company does not represent 
                    or warrant that the Services are free of viruses or other harmful components and, therefore, you should use an industry 
                    recognized software to detect and remove viruses from any download. No advice or information, whether oral or written, 
                    obtained by you from The Company or through the Services shall create any warranty not expressly stated herein.
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="about-title" i18n="@@terms-ownership">
                Platforma jest własnością Heliodo Sp.z o.o. ul. Żelazna 67/13, 00-871 Warszawa <br>
                NIP: 5252651403
            </div>
        </div>
        
    </div>
</div>