
.link {
    width: 100%;
    height: 100%;
    direction: unset;
}


.promo-text {
    margin-top: 15px;
}

.promo-title {
    margin-left: 5px;
    margin-bottom: 0px;
}

.action-buttons {
    align-self: flex-start;
    height: 50px;
    margin-top: 10px;
    font-size: 18px;
}
